.top-line {
    position: fixed;
    vertical-align: bottom;
    margin-top: 24px;
    margin-left: 80px;
    font-size: x-large;
}

.top-line > a {
    color: black;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #f2d194;
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 860px;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 130px;
    font-size: 160px;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: xxx-large;
    margin: 0;
}

p, span {
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    margin-top: 5px;
}

hr {
    height: 1px;
    background-color: white;
    border: 0;
}

.hero-content {
    margin: auto;
}

main {
    width: 980px;
    margin: 100px auto;
}

#pantome {
    margin: 100px auto;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color {
    width: 300px;
    height: 300px;
}

.box {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
    margin: 5px;
}

.box:hover {
    filter: opacity(30%);
}

#F2A7BB {
    background-color: #F2A7BB;
}

#blue {
    background-color: #6077A6;
}

#F2D194 {
    background-color: #f2d194;
}

#D9A78B {
    background-color: #D9A78B;
}

#BF6F6F {
    background-color: #BF6F6F;
}

#F2C8C4 {
    background-color: #F2C8C4;
}


#univers {
    display: flex;
    margin-bottom: 50px;
}

#presentation {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 50px;
}

button {
    background-color: #BF6F6F;
    color: white;
    border: none;
    padding: 10px;
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
    align-self: center;

}

.grid-container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 0.75fr 0.75fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "produit boite-packaging packaging packshot packshot"
    "savon savon packaging packshot packshot"
    "savon savon affiche packshot packshot"
    "savon savon affiche bouteille flyer";
}

.grid-container > div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid-container > div:hover > img {
    filter: grayscale(80%);
}

.produit {
    grid-area: produit;
}

.boite-packaging {
    grid-area: boite-packaging;
}

.packaging {
    grid-area: packaging;
}

.affiche {
    grid-area: affiche;
}

.savon {
    grid-area: savon;
}

.packshot {
    grid-area: packshot;
}

.bouteille {
    grid-area: bouteille;
}

.flyer {
    grid-area: flyer;
}

#social {
    display: flex;
    justify-content: center;
}

#social > a {
    margin: 20px;
}

#social > a > img {
    height: 25px;
    width: auto;
}

footer {
    padding: 20px;
    background-color: #f2a7bb;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
}
